body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  img{
    width: 100px;
    height: 450px;
  }
  
  html {
    box-sizing: border-box;
    background-color: antiquewhite;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #926014;
    color: white;
  }
  

  #Juanlu{
    position: absolute;
    top: 40%;
    left: 25%;
  }

  #Juanlu > img{
    width: 300px;
    height: 400px;
  }

  #Juanlu > h1{
    text-align: center;
  }

  #Juanlu > p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 100px;
  }

  #Alvaro{
    position: absolute;
    top: 40%;
    left: 60%;
  }

  #Alvaro > img{
    width: 330px;
    height: 400px;
  }

  #Alvaro > h1{
    text-align: center;
  }

  #Alvaro > p{
    text-align: center;
    font-size: 15px;
        margin-bottom: 100px;
  }
  
  
  
  @media screen and (max-width: 650px) {
    #contenido {
      width: 100%;
      display: block;
    }
  }